# stolen from dracula theme

window {
margin: 0px;
border: 1px solid rgba(189, 147, 249, 25);
background-color: rgba(40, 42, 54, 25);
}

#input {
margin: 5px;
border: none;
color: rgba(248, 248, 242, 25);
background-color: rgba(68, 71, 90, 25);
}

#inner-box {
margin: 5px;
border: none;
background-color: rgba(40, 42, 54, 25);
}

#outer-box {
margin: 5px;
border: none;
background-color: rgba(40, 42, 54, 25);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: rgba(248, 248, 242, 25);
} 

#entry.activatable #text {
color: rgba(40, 42, 54, 25);
}

#entry > * {
color: rgba(248, 248, 242, 25);
}

#entry:selected {
background-color: rgba(68, 71, 90, 25);
}

#entry:selected #text {
font-weight: bold;
}
